@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins&family=Indie+Flower&family=Caveat&display=swap');
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.8);
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
    border-radius: 50px;
}

#main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    position: relative;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    transition: all 1s;
}

.background {
    position: relative;
    z-index: 5;
    top: -30px;
    height: 85%;
    width: 80%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-image: url("https://github.com/kyantaa/profile/blob/root/bg.jpg?raw=true");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.information {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.div-avatar {
    height: 40%;
    width: 33%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: rgba(255, 0, 0, 0.5); */
}

.border-avatar {
    height: 200px;
    width: 200px;
    margin-right: 5%;
    border: 6px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #00ffaa;
    transition: all 1s;
}

#avatar {
    height: 96%;
    clip-path: circle(50% at 50% 50%);
}

.div-name-app {
    height: 40%;
    width: 67%;
    /* background-color: rgba(0, 0, 255, 0.5); */
}

.div-name {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: end;
    /* background-color: rgba(0, 255, 255, 0.5); */
}

.div-name span {
    width: 60%;
    color: #00ffaa;
    font-family: 'Black Ops One', cursive;
    font-size: 38px;
    transition: all 1s;
}

.div-app {
    height: 50%;
    width: 100%;
    /* background-color: rgba(0, 255, 0, 0.5); */
}

.div-app ul {
    height: 40px;
    width: 80%;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    transition: all 1s;
}

.div-app ul li {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    background-color: #666666;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* box-shadow: rgba(0, 255, 0, 0.4) 0px 5px, rgba(0, 255, 0, 0.3) 0px 10px, rgba(0, 255, 0, 0.2) 0px 15px, rgba(0, 255, 0, 0.1) 0px 20px, rgba(0, 255, 0, 0.05) 0px 25px; */
    transition: all 0.2s;
}

.div-app ul li:hover {
    width: 160px;
    border-radius: 10px;
    background-color: #303030;
}

.div-app ul li a {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none
}

.div-app ul li a .icon {
    height: 80%;
    transition: all 1s;
}

.div-app ul li a .title {
    color: #fff;
    font-size: 20px;
    font-family: 'Caveat', sans-serif;
    font-weight: bold;
    margin-left: 5px;
    transition: all 1s;
}

#project {
    position: relative;
    z-index: 5;
    height: 550px;
    width: 100%;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    border-image-source: linear-gradient(to right, #f64f59, #c471ed, #12c2e9, #00ff2a);
    border-image-slice: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161616;
}

#project span {
    font-weight: bold;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#project>span.title {
    color: #00ff2a;
    width: 100%;
    font-size: 35px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    /* box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(255, 255, 255, 0.22) 0px 15px 12px;
    background-color: rgba(255, 255, 255, 0.25); */
}

#project span.tips {
    color: #fff;
    font-size: 15px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#project ul {
    /* margin: 0px -50px 0px 0px; */
    margin: 0px;
    padding: 0px;
    height: 390px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 370px);
    gap: 20px;
    text-align: center;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    /* background-color: red; */
}

#project ul::-webkit-scrollbar {
    width: 15px;
}

#project ul::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 50px;
}

#project ul::-webkit-scrollbar-thumb {
    /* background-image: linear-gradient(-45deg, #99f95a, #6efde5); */
    background-color: #fd6e6e;
    border-radius: 50px;
}

#project ul li {
    margin: 0px;
    transition: all 1s;
}

#project ul li a {
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: #fff;
}

#project ul li a span.title {
    color: #000;
    font-size: 20px;
    font-family: 'Caveat', sans-serif;
    font-weight: bold;
}

#project ul li a img.preview {
    width: 100%;
    border-bottom: 2px solid #00ffaa;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#project span.source {
    position: absolute;
    bottom: 0px;
    margin-bottom: 5px;
    color: #00ffaa;
    font-size: 18px;
}

#project span.source a {
    /* color: #551a8b; */
    color: #fff;
    transition: 0.2s;
}

#footer {
    position: relative;
    z-index: 5;
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-45deg, #ff9900, #ffff00);
    transition: all 1s;
}

#footer span {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

#footer span a {
    text-decoration: none;
    transition: 0.2s;
}

@media screen and (max-width: 1000px) {
    #header {
        height: 400px;
    }
    .border-avatar {
        height: 120px;
        width: 120px;
    }
    .div-name span {
        width: 100%;
        margin-bottom: 10px;
        font-size: 30px;
    }
    .div-app ul li {
        height: 40px;
        width: 80px;
    }
    .div-app ul li:hover {
        width: 120px;
    }
    .div-app ul li a .icon {
        height: 0%;
    }
    .div-app ul li a .title {
        margin-left: 0px;
    }
}

@media screen and (max-width: 700px) {
    #header {
        height: 300px;
    }
    .border-avatar {
        height: 95px;
        width: 95px;
    }
    .div-name span {
        width: 100%;
        margin-bottom: 15px;
        font-size: 22px;
    }
    .div-app ul {
        margin-top: 0px;
    }
    .div-app ul li {
        height: 50px;
        width: 50px;
    }
    .div-app ul li:hover {
        width: 50px;
    }
    .div-app ul li a .icon {
        height: 80%;
    }
    .div-app ul li a .title {
        font-size: 0px;
    }
}

@media screen and (max-width: 500px) {
    #header {
        height: 700px;
        width: 100%;
    }
    .background {
        top: 0px;
        height: 100%;
        width: 100%;
        background-image: url(https://c4.wallpaperflare.com/wallpaper/567/742/362/otonari-no-tenshi-sama-shiina-mahiru-anime-girls-ai-art-blonde-hd-wallpaper-preview.jpg);
        background-position: 0%;
    }
    .information {
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
    .div-avatar {
        height: 25%;
        width: 100%;
        justify-content: start;
    }
    .border-avatar {
        height: 150px;
        width: 150px;
        margin-left: 40px;
    }
    .div-name-app {
        height: 60%;
        width: 100%;
    }
    .div-name {
        height: 10%;
        align-items: center;
    }
    .div-name span {
        font-size: 25px;
        display: flex;
        justify-content: start;
        margin-left: 40px;
        margin-bottom: 0px;
    }
    .div-app {
        height: 90%;
    }
    .div-app ul {
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
    }
    .div-app ul li {
        height: 55px;
        width: 85%;
        border-radius: 20px;
        background-color: #666666;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        /* box-shadow: rgba(0, 255, 0, 0.4) 0px 5px, rgba(0, 255, 0, 0.3) 0px 10px, rgba(0, 255, 0, 0.2) 0px 15px, rgba(0, 255, 0, 0.1) 0px 20px, rgba(0, 255, 0, 0.05) 0px 25px; */
        transition: all 0.2s;
    }
    .div-app ul li:hover {
        width: 85%;
        border-radius: 10px;
        background-color: #303030;
    }
    .div-app ul li a {
        justify-content: start;
    }
    .div-app ul li a .icon {
        height: 80%;
        margin-left: 25px;
        transition: all 1s;
    }
    .div-app ul li a .title {
        color: #fff;
        font-size: 30px;
        font-family: 'Caveat', sans-serif;
        font-weight: bold;
        margin-left: 10px;
        transition: all 1s;
    }
    #project {
        height: 800px;
    }
    #project span.tips {
        font-size: 70%;
    }
    #project ul {
        height: 78%;
        width: 80%;
        flex-direction: column;
        align-items: center;
    }
    #project ul li {
        height: 90%;
        width: 80%;
        transition: all 1s;
    }
    #project span.source {
        position: absolute;
        bottom: 0px;
        margin-bottom: 5px;
        color: #00ffaa;
        font-size: 12px;
    }
}
